.vue-container {
  width : 100%;
  height :100%;
}

.shadow {
  position : absolute;
  background-color : rgba(0, 0, 0, 0.1);
  top : 0px;
  left : 0px;
  z-index: 1;
}

.panel {
  flex : 1;
  align-items: center;
  justify-content: center;
  border-left : 2px solid #e0e0e0;
  box-shadow : -1px -1px 1px #f1f1f1;
  position : relative;
  cursor : pointer;
}

.panel-scrollview {
  position : relative;
  width :100%;
  height : 100%;
  overflow :scroll;
}