.scroller {
  width :100%;
  height :100%;
  overflow: hidden;
}

.scroller .inner::-webkit-scrollbar {
  display: none;
}

.scroller .inner {
  overflow: scroll;
  transition: transform 0.3s ease;
}
.scroller .inner img {
  display: block;
  height: 100%;
  float: left;
}