
/** 标题/结尾栏目 **/
.titlebar {
  display : flex;
  align-items: center;
  height : 60px;
  padding-left : 10px;
  background:#456;
  h2 {
    margin : 0;   
    font-family: sans-serif;
    font-size : 36px;
    color : white;
    width : 170px;
    letter-spacing: 3px;
  }
  .cmds {
    padding-left: 40px;
    border-left : 1px solid #666;
    flex : 1;
  }
  .router {
    margin-right : 40px; 
    display: flex;
    flex-direction: row;
  }

  

  .btn {
    width : 48px;
    height : 48px;
    background-color: #467;
    margin-right: 3px;
    display : flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 3px black;
    cursor : pointer;

    img {
      width : 18px;
    }

    &.active {
      background-color:orange

    }
  }
}