// #region 选择框
.selection_frame{
  width: 100%;
  position: absolute;
  height: 100%;
  box-sizing: border-box;
  border : 1px solid #999;
  top : 0;
  left : 0;
  z-index: -1;
}


.cube{
  width : 9px;
  height : 9px;
  background-color : white;
  position : absolute;
  border : 1px solid #999;
  z-index:100
}

.cube_topleft {
  top : -5px; 
  left : -5px;
  cursor : nw-resize;
}

.cube_topmiddle{
  top : -5px; 
  left : calc(50% - 5px);
  cursor : n-resize;
}

.cube_topright{
  top : -5px; 
  left : calc(100% - 4px);
  cursor : ne-resize;
}

.cube_middleright{
  top : calc(50% - 5px); 
  left : calc(100% - 4px);
  cursor : w-resize;

}

.cube_bottomright{
  top : calc(100% - 4px); 
  left : calc(100% - 4px);
  cursor : nw-resize;
}

.cube_bottommiddle{
  top : calc(100% - 4px); 
  left : calc(50% - 4px);
  cursor : n-resize;
}

.cube_bottomleft{
  top : calc(100% - 4px); 
  left : -5px;
  cursor : sw-resize;

}

.cube_middleleft{
  top : calc(50% - 5px); 
  left : -5px;
  cursor: w-resize;
}

// #endregion

// #region 元素
.element-root{
  position: relative;
  border : 1px solid #eee;
  margin : -1px 0px 0px -1px;
  background : #ececec;
  
}

.element {
  position : absolute;
  img {
    pointer-events: none;
  }
  
}

.element-inner {
  transition : background-color .2s ease;
  width : 100%;
  height : 100%;
}

.vue-container {
  width : 100%;
  height :100%;
}

// #endregion


.container {
  display : flex;
  flex : 1;
  overflow : hidden;
  height : 100%;

}

.root-w {
  position : relative;
  overflow :scroll;
  align-items: center;
  justify-content: center;
  border-left : 2px solid #e0e0e0;
  box-shadow : -1px -1px 1px #f1f1f1

}

.root-w::-webkit-scrollbar {
  width: 10px;
  height : 10px; 
}

.root-w::-webkit-scrollbar-track {
  background-color: #f2f3f4;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.3);
  outline: 1px solid slategrey;
}

.assist-lines {
  position : absolute;
  width : 100%;
  height : 100%;
  z-index : 1;
  line {
    stroke-width : .5px
  }
}

/** 标题/结尾栏目 **/
.titlebar {
  display : flex;
  align-items: center;
  height : 48px;
  padding-left : 10px;
  background:#456;
  h2 {
    margin : 0;   
    font-family: sans-serif;
    color : white;
    letter-spacing: 3px;
  }
  .router {
    margin-left : 40px; 
    display: flex;
    flex-direction: row;
  }

  


  .btn {
    width : 36px;
    height : 36px;
    background-color: #467;
    margin-right: 3px;
    display : flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 3px black;
    cursor : pointer;

    img {
      width : 18px;
    }

    &.active {
      background-color:orange

    }
  }
}

.footer {
  display : flex;
  align-items: center;
  height : 18px;
  padding-left : 10px;
  background:black;
  h2 {
    margin : 0;   
    font-family: sans-serif;
    color : white;
    letter-spacing: 3px;
  }
}

/** 右侧整体 **/

.right {
  width : 300px;  
  flex-shrink: 0;
}

/** 属性编辑器 **/

.prop-editor {
  width :300px;
  min-height: 600px;
}



/** 左侧组件选择器  */
.component-list {
  background : #ececec;
  width : 162px; 
  min-height: 600px;
  flex-shrink: 0;
  position: relative;
  height : 100%;
  .component-list-inner {
    position : relative;
    h2{
      margin : 0;
      font-size: 14px;
      padding : 2px 5px;
    }
  } 

  .component-list-group {
    background : white;
    margin-top : 10px;
  }
}
.component-list-item:nth-child(odd) {
  margin-right : 0
}

.component-list-item {
  width : 80px;
  margin-right : 2px;
  margin-bottom : 1px;
  height : 90px;
  border : 1px solid #eee;
  float : left;
  display : flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  ::after { 
    clear : both;
  }
  img {
    margin-top : 10px;
    max-width: 40px;
    max-height: 40px;
  }
  .text {
    height :30px;
    line-height: 15px;
    font-size :12px;
  }
}

