.button{
  overflow : hidden;
  width :100%;
  height : 100%;
  button {
    width :100%;
    height : 100%;
    background : none;
    outline: none;
    border : none;
    cursor : pointer;
  }
  button:active {
    background-color: #f2f2f2;
  }
}

.input {
  width : 100%;
  height : 100%;
  cursor : pointer;
}

.textarea {
  width : 100%;
  height : 100%;
  cursor : pointer;
}

.img {
  width : 100%;
  height : 100%;
}