html, body {
  height : 100%;
}
#app {
  display: flex;
  width : 100%;
  height : 100%;
}

.menu {
  width : 200px;
  border-right:  1px solid #f2f3f4;
  min-height: 100%;
}

.menu li {
  list-style: none;
}

.content {
  margin : 10px;
}