.explorer {
	width : 200px;
	background:#333;
}
.explorer ul li {
	display : flex;
	align-items: center;
	justify-content: flex-start;
	color : #20975a;
	padding: 3px 10px;
}

.explorer ul li svg {
	width : 18px;
	height : 18px;
}