.page {
	height : 100%;
	width : 100%;
	display : flex;
}

.panel {
	position: relative;
	flex : 1;
}

.item-list{
	width : 100px;
	flex-shrink: 0;
	display : flex;
	flex-direction: column;
	border-right : 1px solid #eee;
	min-height: 100%;
	.item {
		margin : 10px;
		width : 80px;
		height : 80px;
		display : flex;
		align-items: center;
		justify-content: center;
		cursor : pointer;
		user-select: none;
		background-color : #f2f2f2;
	}
}