.text {
  overflow : hidden;
  div {
    width :100%;
    user-select: none;
  }
  input, input:focus{
    width : 100%;
    outline : none;
    border : none
  }
}

.button{
  overflow : hidden;
  width :100%;
  height : 100%;
  button {
    width :100%;
    height : 100%;
    user-select: none;
    background : none;
    outline: none;
    border : none;
  }
  input, input:focus{
    width : 100%;
    height : 100%;
    outline : none;
    border : none;
    background: none;
    text-align :center
  }
}




.image {
  width : 100%;
  height : 100%;
  position: relative;
  input{
    position: absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    z-index: 10;
    opacity: 0;
  }

  img {
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
  }
}

.button {
  outline: none;
}

.input {
  width : 100%;
  height : 100%;
  cursor : pointer;
}

.textarea {
  width : 100%;
  height : 100%;
  cursor : pointer;
}

.icon {
svg {
    width : 100%;
    height : 100%;
  }
}

.root {
  width : 100px

}

.row {
  display : flex;
  height : 100%;
  flex-direction: row;
}

.column { 
  width : 100%;
  display : flex;
  flex-direction: column;
}

.rowgap {
  height : 100%;
  width : 20px;
  background-color :lightgrey 
}

.colgap {
  width : 100%;
  height : 20px;
  background-color :lightgrey 
}


.txt-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width : 100%;
  * {
    text-align: center;
    width: 100%;
  }
}